body {
  max-width: 1920px;
  margin: 0 auto;
  background: #21232e; }

header {
  background: url("../img/m-h-night.jpg") no-repeat;
  background-size: cover;
  width: 1920px;
  height: auto;
  border-radius: 0 0 400px 0;
  margin-top: -125px; }

.header-wrap {
  width: 80%;
  margin: 0 auto;
  padding-top: 145px; }

.landing-logo, .footer_logo {
  display: flex; }
  .landing-logo img, .footer_logo img {
    width: 40px;
    height: 40px; }
  .landing-logo p, .footer_logo p {
    font-family: "Fresca", sans-serif;
    margin-left: 10px;
    margin-top: 7px;
    line-height: 15px;
    font-size: 25px;
    font-weight: 600;
    color: white; }
  .landing-logo span, .footer_logo span {
    display: block;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    line-height: 15px; }

.header_heading {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 60px;
  width: 750px;
  margin-top: 70px;
  margin-bottom: 30px; }
  .header_heading::after {
    content: "";
    display: block;
    background: #ff4e33;
    width: 315px;
    height: 55px;
    margin-top: -55px; }

.header_text {
  font-family: "Fresca", sans-serif;
  margin-top: 40px;
  font-size: 18px;
  line-height: 25px;
  color: white;
  white-space: pre-line; }

.header_button {
  background-color: #e3ac00;
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 160px;
  margin-top: 40px; }
  .header_button:hover {
    box-shadow: 0 0 15px rgba(248, 246, 241, 0.8); }

.login {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin-left: 150px; }

.section {
  width: 1920px; }

.section_text {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  margin: 50px auto;
  font-size: 45px;
  color: white;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif; }
  .section_text::after {
    content: "";
    display: block;
    background: #ff4e33;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50.5%;
    z-index: -1; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  width: 57%;
  margin: 0 auto; }

.section_card {
  display: flex;
  width: 100%;
  height: auto;
  background: #3b3f50;
  margin: 0 8px 100px 8px;
  padding: 15px;
  text-align: center;
  border-radius: 5px; }

.section_card_img {
  display: block;
  width: 70%;
  height: 250px;
  margin: 0 auto;
  border-radius: 5px; }

.section_card_heading {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 15px;
  margin-bottom: 5px; }

.section_card_text {
  color: #d9d9d9;
  font-family: "Fresca", sans-serif;
  font-size: 18px;
  padding-top: 25px;
  padding-right: 40px;
  padding-left: 55px;
  line-height: 25px;
  text-align: left; }

.section_link {
  color: white;
  font-family: "Source Sans Pro", sans-serif; }

.section_card_right_container {
  width: 100%;
  margin: 0 auto; }

.section_banner {
  display: flex;
  background: linear-gradient(to right, #dea405, #96334f);
  width: 60%;
  height: 150px;
  margin: 50px auto -30px auto;
  border-radius: 5px;
  position: relative;
  z-index: 1; }

.section_banner_text_wrap {
  padding-left: 50px; }

.section_banner_heading {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 8px;
  margin-left: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: white; }
  .section_banner_heading::after {
    content: "";
    display: block;
    background: #ff4e33;
    width: 60px;
    height: 30px;
    margin-top: -31px;
    margin-left: 30.2%; }

.section_banner_text {
  color: #cdcfc9;
  font-family: "Fresca", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 20px;
  margin-top: 15px;
  padding-left: 80px; }

.section_banner_button {
  background-color: #e3ac00;
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 50px;
  margin-left: 330px; }
  .section_banner_button:hover {
    box-shadow: 0 0 15px rgba(248, 246, 241, 0.8); }

.footer {
  background: #252733;
  height: 250px;
  margin-top: -60px; }

.footer-wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Fresca", sans-serif;
  line-height: 15px;
  color: #b2b2b4; }

.footer_logo {
  width: 125px;
  margin-top: 125px; }
  .footer_logo p {
    color: #f8f6f1; }

.footer_text {
  margin-top: 120px;
  width: 256px;
  font-size: 12px; }

.footer-cr {
  margin-top: 140px;
  width: 256px;
  text-align: right;
  font-size: 12px; }
