$contentBackground: #21232e;
$contentBackgroundPic:url("../img/m-h-night.jpg");
$Wrapper:80%;
$ColorHeader:white;
$ColorText:#cdcfc9;
$ColorLine:#ff4e33;
$FontMain:'Fresca', sans-serif;
$FontTitle:'Hind', sans-serif;
$FontSection:'Source Sans Pro', sans-serif;
$ColorButton: #e3ac00;
$Gradient:linear-gradient(to right, #dea405, #96334f);
$Margin:-12px;
$cardBackground:#3b3f50;
