$contentBackground: #fff;
$contentBackgroundPic:url("../img/m-h-day.jpg");
$Wrapper:80%;
$ColorHeader:#2c2f3c;
$ColorText:#c0c3ce;
$ColorLine:#14a0c7;
$FontMain:'Hind', sans-serif;
$FontTitle:'Hind', sans-serif;
$FontSection:'Hind', sans-serif;
$ColorButton:#699900;
$Gradient:linear-gradient(to right, #66960b, #2c5bda);
$Margin:-17px;
$cardBackground:#21232e;
